.tabla-inventario p{
    font-size: 16px!important;
    margin-bottom: 0;
}
.badge-inventario{
    border: dashed 1px;
    padding: 10px;
    margin-right: 10px;
}
.ant-scroll-number, .ant-badge-count, .ant-badge-multiple-words{
    z-index: 1;
}
.search-width{
    width: 50%;
}

@media(max-width: 768px){
    .search-width{
        width: 100%;
    }
}