.logotipo{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.caligra{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.fonts{
    font-size: 16px;
    font-style: bold;
}

.subs{
    font-size: 14px;
}
