
@media(max-width: 768px){
    .titulos-info-pedidos{
        line-height: 0;
        display: block!important;
    }
    .data-info-pedidos{
        float: none!important;
    }
    .mostrar-pedido{
        display: none;
    }
}

.contenedor-card-pedidos{
    height: 300px;
}

.botton-top{
    margin-top: 0px!important;
}

.border-pedido{
    border: 1px solid gray;
    border-bottom: 1px solid gray;
}
.contenedor-imagen-pedido{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen-detalle-pedido{
    max-width: 100%;
    max-height: 100%;
}