.contenedor-titulos-productos{
    height: 120px;
}
.titulo-producto{
    font-size: 20px;
    width: 100%!important;
}
.search-width{
    width: 50%;
}

@media(max-width: 768px){
    .search-width{
        width: 100%;
    }
    .titulo-producto-admin-responsivo{
        overflow: hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
    }
}