
.blogList{

    text-decoration: none;
    color: black;

    &__lista{
        border-bottom: 2px solid gray !important;
    }

    &__title{
        font-size: 25px;
        font-weight: bold;
        line-height: 35px;
    }

    &__author{
        font-size: 20px;
    }

    &__content-description{
        max-height: 250px;
        max-width: 700px;
        overflow:hidden;
        text-overflow: ellipsis;
    }
}

.blogList:hover{
    color: gold;
}

.lienamientos{
    width: 100vw;
    height: 100vh;
    aling-items: center;
    justify-content: center;
    
}