.principal-productos{
    color: white;
    text-align: center;
    background-color: rgb(48, 48, 48);
    padding: 15px;
    font-size: 25px;
    letter-spacing: 20px;
    font-weight: bold;
    width: 100%;
}
.titulo-elipsis{
    height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* .contenedor-card-body{
    min-height: 350px;
} */
.ant-col{
    width: 300px;
}
.contenedor-card-producto-principal{
    cursor: pointer;
}
.contenedor-card-producto-principal:hover .titulo-elipsis{
    height: 100px;
    transition-duration: .2s;
    transition-delay: .4s;
    /* transition: ease-out .2s; */
}
.contenedor-imagen-producto-principal{
    height: 250px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen-producto-principal{
    max-width: 100%;
    max-height: 100%;
}
.rebajado{
    font-size: 15px;
}

