@media(max-width: 768px){
    .padre{
        overflow-x: scroll;
    }
    .contenedor-imagen:visited > .iconos-uploads-carousel{
        display: flex;
        transition: .2s;
    }
}
/* p{
    font-size: 20px;
} */
.search-width-modal{
    max-width: 70%;
}
.contenedor-imagen{
    display: flex;
    justify-content: center;
    width: 250px;
    height: 150px;
}
.contenedor-imagen:hover > .iconos-uploads-carousel{
    display: flex;
    transition: .2s;
}
.imagen-carousel{
    max-width: 100%;
    max-height: 100%;
}
.iconos-uploads-carousel{
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: none;
}
.iconos-uploads-carousel:hover{
    background: rgba(0, 0, 0, 0.50);
}
.contenedor-iconos{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
/* For upload antd */
.ant-upload-list-item-info::before{
    left: 0!important;
}
.ant-upload-list-text{
    display: none;
}
.imagen-preview-carousel{
    height: 200px;
}
.boton-subir-imagen-carousel{
    margin-top: 13px;
    width: 150px;
    height: 150px;
}
.contenedor-lista{
    height: 400px!important;
    overflow-y: scroll;
}
.list-item-carousel{
    box-shadow: 0px 0px 5px 0px rgb(0, 140, 255);
}