.titulo-tienda-vista-producto{
    font-size: 18px;
    display: flex;
    align-items: center;
}
.direccion-tienda-vista-producto{
    font-size: 17px;
}
.contenedor-info-tienda {
    margin-top: 5rem!important;
}