
@media(max-width: 768px){
    .titulos-info-pedidos{
        line-height: 0;
        display: block!important;
    }
    .data-info-pedidos{
        float: none!important;
    }
}
.titulos-info-pedidos{
    line-height: 0;
    display: inline;
}
.data-info-pedidos{
    float: right;
    max-width: 80%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.precio-total-pedidos{
    font-size: 18px!important;
}
.contenedor-card-pedidos{
    height: 250px;
}