#foot{
    margin: 0px;
    padding: 0px;
    background: #abbaab;
    background: -webkit-linear-gradient(to right, #abbaab, #ffffff); 
    background: linear-gradient(to right, #abbaab, #ffffff);
   
}
 #is:hover{
    -webkit-transform:scale(1.2);transform:scale(1.2);
    overflow:hidden;
}

.footer-border{
    border-bottom: 1px solid gray;
}
