/* For demo */
.carousel-home {
  text-align: center;
  height: 40vh;
  overflow: hidden;
}
.background-carousel{
  width: 100%;
  height: 100%;
  background-repeat:  no-repeat;
  background-size: cover;
  filter: blur(8px);
}
.contenedor-imagen-principal-promociones{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagen-carousel-promociones-principal{
  position: absolute;
  top: 0;
  max-width: 100%;
  max-height: 100%;
  filter: none!important;
  cursor: pointer;
}
.carousel-home h3 {
  color: #fff;
}
@media(max-width: 768px){
  .carousel-home {
    text-align: center;
    height: 20vh;
    line-height: 160px;
    overflow: hidden;
  }
}