.caracteristicas{
    background: #ffffff ;
}
.titulo-principal{
    font-size: 30px;
}
.titulos-vista-productos{
    font-size: 30px;
}
.titulo-precio{
    font-size: 30px;
    display: inline;
}
.titulo-porcentaje{
    font-size: 30px!important;
}
.talla-vista-producto{
    margin: 3px;
}
.descripcion-sm{
    display: none;
}
.read-more{
    height: auto;
}
.read-less{
    max-height: 250px;
    overflow:hidden;
    text-overflow: ellipsis;
}
.texto-ver-mas{
    color: #2196F3;
    cursor: pointer;
}
.disponibilidad-p{
    font-size: 20px;
}
.contenedor-p-seleccion-compra > p {
    font-size: 20px;
}
.contenedor-p-vista-producto-descripcion{
    font-size: 18px;
}
@media(max-width: 768px){
    .descripcion-sm{
        display: block;
    }
    .descripcion-lg{
        display: none;
    }
  }
