
.contenedor-span{
    width: 80px;
    height: 200px;
    display: inline-block;
    margin: 5px;
    font-size: 70px;
}
h2{
    font-size: 16px;
}
.imagen-producto-actual, .imagen-producto-sugerido{
    max-width: 99%!important;
    margin-left: 1px;
}
