
.imagen-box{
    height: 350px;
}
.img-producto{
    max-width: 100%;
    max-height: 100%;
}
.precio-producto{
    color: rgb(124, 124, 124);
    text-decoration: line-through;
}
.precio-rebaja{
    color: #22bb33;
}
.texto-descuento{
    font-size: 20px;
}
.numero-descuento{
    color: #22bb33;
}
.imagen-box-promocion{
    height: 200px;
}
.img-producto-promocion{
    max-width: 100%;
    max-height: 100%;
}
.texto-imagen{
    font-size: 16px;
}