.contenedor:hover{
    transition: .2s;
    box-shadow: 0px 0px 40px -16px rgba(0,0,0,0.3)!important;
}
.contenedor{
    transition: .2s;
    cursor: pointer;
}
.titulo-producto{
    width: 50%;
}
.sugerencia-box{
    max-width: 45%;
}
.display-block{
    display: block;
}